<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>STonKS</title>
</head>
<script type="text/javascript"> 
    function showHideRow(row) { 
        var x = document.getElementById(row);
        if (x.style.display === "none") {
            x.style.display = "table-row";
        } else {
            x.style.display = "none";
        }
    } 
</script> 
<style>
body,html{
    height: 100%;
    font-family: "Roboto", sans-serif;
}
td:not(.hidden):hover {
  background-color: #6bcff7;
  color: #000000;
}
</style>
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
      <a href="/labelling" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LABELLING</a>
      <a href="/ner" class="w3-bar-item w3-button w3-padding-large w3-hide-small">NER</a>
    </div>
</div>
<body class="w3-white">)
<div class="w3-content" style="max-width:2000px;margin-top:46px">
    <div class = "NER">
        <table class = "w3-table-all">
            <tr>
                <th>Title</th>
                <th>Body</th>
                <th>Stocks</th>
            </tr>
            <%for(var i = 0; i < NER.length; i++) {%>
                <tr>
                    <td class = "hidden"><%= NER[i].Title%></td>
                    <td onclick="showHideRow('<%= NER[i]._id%>')"><%= NER[i].Body.substring(0,100)%> ...</td>
                    <td class = "match-cell" data-id = "<%= NER[i]._id%>"><%= NER[i].Stocks%></td>
                </tr>
                <tr id = "<%= NER[i]._id%>" style = "display:none;">
                    <td class = "hidden" colspan = 3><%= NER[i].Body%></td>
                </tr>
            <%}%>
        </table>
</div>
<script src = "/main.js"></script>
</body>
</html>